/* Make sure the non-content elements are hidden */
head, title, meta, script, link, style, base {
    display: none;
}

/* Default styling for emphasis and strong elements */
emphasis {
    font-style: italic;
}
strong {
    font-weight: bold;
}

/* Style the text */
/*body>h1 {
    font-size: 1.5rem; 
    color: hsla(175, 80%, 60%, .8);
}*/
